*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #222;
    color:#f2f2f2;
}

.projects{
    padding: 60px 10%;
    text-align: center;
}

.projects h1{
    font-size: 40px;
    margin-bottom: 40px;
}

.projects h1 span{
    color: #077ced;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card{
    background-color: #020617;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #1e293b;
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-10px);
    border-color: #38bdf8;
    box-shadow: 0 0 15px #38bdf8;
}

.project-card h3{
    color: #38bdf8;
    margin-bottom: 10px;
    font-size: 20px;
}

.project-card p{
    color: #cbd5f5;
    font-size: 16px;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #38bdf8;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: white;
    color: #000;
    box-shadow: 0 0 10px #38bdf8;
}