body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color:#f2f2f2;
}

.contect-section{
    padding: 80px 15px;
}

.contect-section h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.contect-section h1 span{
    color: #38bdf8;
}

.contact-text{
    font-size: 17px;
    color: #cbd5f5;
    margin-bottom: 30px;
    line-height: 1.6;
}

.contact-info p{
    font-size: 18px;
    margin: 12px 0;
}

.contact-info i{
    color: #38bdf8;
    margin-right: 10px;
}